.clear {
	clear: both;
	height: 1px;
}
.hide {
	display: none;
}
.nav ul {
	display: none;
}
.error, .errNote {
	color: #f00;
	font-weight: bold;
	display: block;

}

.pad5 td, .pad5 th {
	padding: 3px 5px;
}

.required {
	color: #d00;
	font-weight: bold;
	font-family: Verdana;
	font-size: 12px;
}
.pagination {
	font-size: 12px;
}
.pagination span.prev, .pagination span.next {
	color: #999;
}
.block.three3 {
	width: 150px;
}
.block.three3 .image {
	width: 150px;
	float: none;
}
.block.three {
	background: #efefef;
	width: 150px;
	height: 200px;
	margin: 10px 5px 10px 0;
	border: 1px solid #efefef;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
}
.block.three:hover {
	background: #D7D7D7;
	border: 1px solid #D7D7D7;
	cursor: pointer;
}
.block.three .image {
	background:  #fff;
	float: none;
}
.block.three h3 {
	font-size: 12px;
}
.block.three:hover .image a img {
	opacity: 0.5;
}
.contacts {
	padding: 3px 0 0 31px;
    width: 199px;
}
.contacts address {
	position: relative;
	left: -10px;
	margin-top: 5px;
}
.label {
	font-weight: bold;
}
.mapContainer img {
	cursor: pointer;
}
.price {
	font-size: 12px;
	font-weight: bold;
}
.logos-move .mover {
	width: 3000px;
}
.text {
	margin-bottom: 20px;
	text-align: justify;
}
input.cart-qty {
	width: 30px;
}
.floatL {
	float: left;
}
.floatR {
	float: right;
}
.short_article_t {
	text-align: justify;
}
